<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="js/jquery-3.7.0.min.js"></script>
<script src="js/jquery.twbsPagination.min.js"></script>
<script src="js/edmng.js"></script>
</head>
<body>
	<div th:replace="~{header.html}"></div>
	
	<div class="container justify-content-center">
		
		<h3 class="text-center my-4">見積・納品データ一覧</h3>
		
		<div class="row">
			<div class="col">
				
				<form id="searchForm" action="edRegistNew" method="post">
					<input type="hidden" name="searchFlg" 	id="searchFlg" 	th:value="${ed.searchFlg}">
					<input type="hidden" name="page" 		id="page" 		th:value="${ed.page}">
					<input type="hidden" name="startPage" 	id="startPage" 	th:value="${ed.startPage}">
					
					<table class="table table-borderd table-striped table-dark">
						<tr>
							<th>得意先</th>
							<td><input type="text" name="tokuisaki_name" th:value="${ed.tokuisaki_name}"></td>
							<th>工事完了日</th>
							<td><input type="date"  name="const_bgn" th:value="${ed.const_bgn}">～<input type="date" name="const_end" th:value="${ed.const_end}"></td>
						</tr>
						
						<tr>
							<th>物件</th>
							<td><input type="text" name="property" th:value="${ed.property}"></td>
							<td>見積書作成日</td>
							<th><input type="date" name="est_bgn" th:value="${ed.est_bgn}">～<input type="date" name="est_end" th:value="${ed.est_end}"></th>
						</tr>
						
						<tr>
							<th>担当</th>
							<td><input type="text" name="tanto" th:value="${ed.tanto}"></td>
							<th>納品書作成日</th>
							<td><input type="date" name="del_bgn" th:value="${ed.del_bgn}">～<input type="date" name="del_end" th:value="${ed.del_end}"></td>
						</tr>
						
						<tr>
							<th>部門</th>
							<td><input type="text" name="dept" th:value="${ed.dept}"></th>
							<th>発注番号</th>
							<td><input type="text" name="po_num1" th:value="${ed.po_num1}">～<input type="text" name="po_num2" th:value="${ed.po_num2}"></td>
						</tr>
						
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<td><button type="button" onclick="searchEdmng()">検索</button> <button type="submit" >新規作成</button></td>
							
						</tr>
						
					</table>
				
				</form>
			</div>
		</div>
		
		<!-- ページネーション表示用 -->
		<div class="row justify-content-center">
			<nav aria-label="Page navigation" class="col-6">
				<ul class="pagination" id="pagination"></ul>
			</nav>
		</div>
		
		<!-- リスト表示 -->
		<div class="row justify-content-center">
			<div class="col-6" id="customerList"></div>
		</div>
		
	</div>
	
</body>
</html>